@font-face {
    font-family: Work-Sans;
    src: url(./WorkSans-Medium.ttf);
} 
    
main {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

form {
    border: 0px solid;
    border-radius: 20px;
    padding: 8rem;
    background-image: repeating-linear-gradient(90deg, rgb(208, 0, 255), rgb(255, 0, 64));
    color:rgb(0, 0, 0);
    font-weight: bold 100;
}

h1 {
    font-family: 'Work-Sans', sans-serif;
    font-size: 50px;
    color:aqua
}

label {
    font-family: 'Work-Sans', sans-serif;
    font-size: 30px;
    line-height: 4rem;
}

input {
    padding: 1rem 0 1rem 1rem;
    font-size: 25px;
    border-radius: 20px;
    border: 0px;
    font-family: 'Work-Sans', sans-serif;  
    background:rgb(176, 253, 227);
}

.radio-sex {
    display: flex;
    gap: 1rem;
}
.radio-btn {
    transform: scale(2); 
}

select {
    padding: 1rem 0 1rem 1rem;
    font-size: 25px;
    margin-bottom: 2rem;
    border: 0px;
    border-radius: 20px;
    background:rgb(176, 253, 227);
}

#sub {
    border: 0px;
    margin-bottom: 2rem;
    margin-left: 20rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background: repeating-linear-gradient(90deg, rgb(255, 248, 121), rgb(106, 255, 0));
    cursor: pointer;
}

#result {
    font-family: 'Work-Sans', sans-serif; 
    color: black;
    font-weight: bold;

}

td {
    border: 1px solid;
    border-radius: 20px;
    width: 70%;
    font-family: 'Work-Sans', sans-serif; 
    padding: 1rem 0 1rem 1rem;
    font-size: 20px;
    background: rgb(176, 253, 227);
}

#kj {
    padding-right: 8rem;
    color: black;
    font-weight: bold;
}

#kcal {
    color: black;
    font-weight: bold;
}






















